.footer-child22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #492612;
  width: 1440px;
  height: 540px;
}
.copyright-c-202322 {
  position: absolute;
  top: 340.9px;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  opacity: 0.7;
}
.social-icontwitter22,
.vector-icon22 {
  position: absolute;
  top: 47px;
  left: 166.88px;
  width: 32.58px;
  height: 32.58px;
  overflow: hidden;
}
.vector-icon22 {
  height: 33.95%;
  width: 7.57%;
  top: 62.06%;
  right: 92.43%;
  bottom: 3.99%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-iconinstagram22,
.social-iconyoutube22 {
  position: absolute;
  top: 47px;
  left: 104.89px;
  width: 33.38px;
  height: 32.58px;
  overflow: hidden;
}
.social-iconyoutube22 {
  left: 43.71px;
}
.follow-us-on22 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  font-weight: 600;
}
.socials22 {
  position: absolute;
  top: 87.61px;
  left: 1104.01px;
  width: 199.46px;
  height: 79.58px;
  font-size: 24px;
}
.become-a-distributor22,
.privacy-policy22,
.terms-and-conditions22 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  opacity: 0.7;
}
.privacy-policy22,
.terms-and-conditions22 {
  top: 47.12px;
}
.terms-and-conditions22 {
  top: 94.23px;
}
.column-122,
.column-222 {
  position: absolute;
  top: 47.48px;
  left: 155px;
  width: 192px;
  height: 117.23px;
}
.column-122 {
  left: 0;
  width: 99px;
}
.quick-links122 {
  position: absolute;
  top: 0;
  left: 72px;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  font-weight: 600;
}
.quick-links22 {
  position: absolute;
  top: 87.61px;
  left: 577.01px;
  width: 347px;
  height: 164.71px;
  font-size: 19.07px;
}
.brand-info22,
.logo-icon22 {
  position: absolute;
  left: 0;
}
.brand-info22 {
  top: 152.57px;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  font-weight: 500;
  display: inline-block;
  width: 417.98px;
  opacity: 0.7;
}
.logo-icon22 {
  top: 0;
  width: 181.18px;
  height: 117.61px;
  object-fit: cover;
}
.contents22,
.footer22 {
  position: absolute;
  top: 100.39px;
  left: 52.99px;
  width: 1303.46px;
  height: 363.9px;
}
.footer22 {
  top: 4371px;
  left: 0;
  width: 1440px;
  height: 540px;
  font-size: 12.71px;
  color: #fff;
}
.mask-group-icon22 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text22 {
  position: absolute;
  width: 75.69%;
  top: calc(50% - 29px);
  left: 3.45%;
  letter-spacing: -0.72px;
  line-height: 28px;
  display: inline-block;
}
.view-all-benefits22 {
  position: relative;
  letter-spacing: -0.83px;
  line-height: 28px;
}
.group-icon22 {
  position: relative;
  width: 31.5px;
  height: 16px;
}
.group-3-copy-222 {
  position: absolute;
  height: 103.45%;
  top: -5.17%;
  bottom: 1.72%;
  left: 0.25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 1px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.link22 {
  height: 11.07%;
  width: 17.71%;
  top: 14.12%;
  right: 3.35%;
  bottom: 74.81%;
  left: 78.93%;
  font-size: 18px;
}
.card22,
.link22,
.title22 {
  position: absolute;
}
.title22 {
  width: 38.32%;
  top: calc(50% - 104px);
  left: 3.35%;
  font-size: 30px;
  letter-spacing: -1.42px;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
}
.card22 {
  height: 100%;
  width: 66.24%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 33.76%;
}
.content22,
.title122 {
  position: absolute;
  left: 0;
}
.title122 {
  width: 25.33%;
  top: 27.1%;
  font-size: 32px;
  letter-spacing: -1.42px;
  line-height: 40px;
  display: inline-block;
  color: #01021d;
}
.content22 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.become-a-distributor122 {
  position: absolute;
  top: 3909px;
  left: 135px;
  width: 1173px;
  height: 262px;
  color: #fff;
}
.land-1-icon22 {
  position: absolute;
  top: 142px;
  left: 501px;
  width: 731px;
  height: 593px;
  object-fit: cover;
}
.subheading22,
.text122 {
  position: absolute;
  width: 100%;
  top: calc(50% - 0px);
  left: 0;
  letter-spacing: -0.72px;
  line-height: 32px;
  display: inline-block;
}
.subheading22 {
  width: 93.06%;
  top: calc(50% - 64px);
  font-size: 32px;
  letter-spacing: -1.46px;
  line-height: 54px;
  font-weight: 500;
  color: #07753e;
}
.icon22 {
  position: absolute;
  height: 38.34%;
  width: 10.12%;
  top: 407.35%;
  right: 89.68%;
  bottom: -345.7%;
  left: 0.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.highlight-322 {
  position: absolute;
  width: 39.26%;
  top: calc(50% + 195.5px);
  right: 60.66%;
  left: 0.08%;
  height: 128px;
}
.text222 {
  position: absolute;
  width: 100%;
  top: calc(50% - 16px);
  left: 0;
  letter-spacing: -0.72px;
  line-height: 32px;
  display: inline-block;
}
.subheading122 {
  width: 56.22%;
  top: calc(50% - 80px);
  font-size: 32px;
  letter-spacing: -1.46px;
  line-height: 54px;
  font-weight: 500;
  color: #07753e;
  display: inline-block;
}
.highlight-222,
.icon122,
.subheading122 {
  position: absolute;
  left: 0;
}
.icon122 {
  height: 30.67%;
  width: 9.79%;
  top: 200.74%;
  right: 90.21%;
  bottom: -131.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.highlight-222 {
  width: 40.56%;
  top: calc(50% - 8.5px);
  right: 59.44%;
  height: 160px;
}
.subheading222 {
  position: absolute;
  width: 90.07%;
  top: calc(50% - 64px);
  left: 0;
  font-size: 32px;
  letter-spacing: -1.46px;
  line-height: 54px;
  font-weight: 500;
  color: #07753e;
  display: inline-block;
}
.icon222 {
  position: absolute;
  height: 38.34%;
  width: 9.79%;
  top: 119.03%;
  right: 90.01%;
  bottom: -57.37%;
  left: 0.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.highlight-122 {
  position: absolute;
  width: 40.56%;
  top: calc(50% - 180.5px);
  right: 59.36%;
  left: 0.08%;
  height: 128px;
}
.title222 {
  position: absolute;
  top: calc(50% - 367.5px);
  left: 28.57%;
  font-size: 64px;
  letter-spacing: -2.49px;
  line-height: 80px;
  font-weight: 600;
  color: #ec9e0c;
}
.content122,
.why-choose-us22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1232px;
  height: 735px;
}
.why-choose-us22 {
  top: 3054px;
  left: 136px;
}
.name22,
.position22 {
  position: absolute;
  width: 39.63%;
  top: calc(50% + 188.2px);
  left: 0;
  letter-spacing: -0.74px;
  line-height: 27px;
  display: inline-block;
}
.name22 {
  width: 75.59%;
  top: calc(50% + 149px);
  left: -0.03%;
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
}
.accountant22,
.mask-group-icon122 {
  position: absolute;
  overflow: hidden;
}
.mask-group-icon122 {
  height: 82.18%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 17.82%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.accountant22 {
  top: 112px;
  left: 889.2px;
  width: 280.8px;
  height: 432px;
}
.name122,
.position122 {
  position: absolute;
  width: 51.99%;
  top: calc(50% + 188px);
  left: 0.07%;
  letter-spacing: -0.74px;
  line-height: 27px;
  display: inline-block;
}
.name122 {
  width: 68.44%;
  top: calc(50% + 149px);
  left: -0.15%;
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
}
.factory-manager22 {
  position: absolute;
  top: 112px;
  left: 592.8px;
  width: 280.8px;
  height: 432px;
  overflow: hidden;
}
.name222,
.position222 {
  position: absolute;
  width: 91.76%;
  top: calc(50% + 188px);
  left: -0.26%;
  letter-spacing: -0.74px;
  line-height: 27px;
  display: inline-block;
}
.name222 {
  width: 76.92%;
  top: calc(50% + 149px);
  left: -0.14%;
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
}
.director-comm22 {
  position: absolute;
  top: 112px;
  left: 296.4px;
  width: 280.8px;
  height: 432px;
  overflow: hidden;
}
.position322 {
  width: 60.54%;
  top: calc(50% + 188px);
  letter-spacing: -0.74px;
  line-height: 27px;
  display: inline-block;
}
.ceo22,
.name322,
.position322 {
  position: absolute;
  left: 0;
}
.name322 {
  width: 64.81%;
  top: calc(50% + 149px);
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
  display: inline-block;
}
.ceo22 {
  top: 112px;
  width: 280.8px;
  height: 432px;
  overflow: hidden;
}
.left-icon22,
.right-icon22 {
  position: absolute;
  top: 271px;
  left: 15.6px;
  width: 39.52px;
  height: 38px;
}
.right-icon22 {
  left: 1114.88px;
}
.content222,
.our-team22,
.title322 {
  position: absolute;
  top: 0;
  left: 0;
}
.title322 {
  font-size: 54px;
  letter-spacing: -2.49px;
  line-height: 80px;
  font-weight: 600;
  color: #ec9e0c;
  display: inline-block;
  width: 383.76px;
}
.content222,
.our-team22 {
  width: 1170px;
  height: 544px;
}
.our-team22 {
  top: 2390px;
  left: 136px;
  font-size: 16px;
}
.web-banner-icon22 {
  position: absolute;
  top: 1681px;
  left: 0;
  width: 1440px;
  height: 589px;
  object-fit: cover;
}
.text422 {
  width: 100%;
  top: calc(50% + 5px);
  letter-spacing: -0.83px;
  line-height: 28px;
  display: inline-block;
}
.icon-322,
.subheading322,
.text422 {
  position: absolute;
  left: 0;
}
.subheading322 {
  width: 100%;
  top: calc(50% - 37px);
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
  display: inline-block;
}
.icon-322 {
  height: 22.47%;
  width: 14.81%;
  top: 0;
  right: 85.19%;
  bottom: 77.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-philosophy22,
.philosophy-icon22 {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.our-philosophy22 {
  height: 39.56%;
  width: 22.5%;
  top: 54.22%;
  right: 0;
  bottom: 6.22%;
  left: 77.5%;
}
.text522 {
  width: 100%;
  top: calc(50% - 7px);
  letter-spacing: -0.83px;
  line-height: 28px;
  display: inline-block;
}
.icon-222,
.subheading422,
.text522 {
  position: absolute;
  left: 0;
}
.subheading422 {
  width: 100%;
  top: calc(50% - 53px);
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
  display: inline-block;
}
.icon-222 {
  height: 19.05%;
  width: 14.81%;
  top: 0;
  right: 85.19%;
  bottom: 80.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-mission22 {
  position: absolute;
  width: 22.5%;
  top: calc(50% + 15px);
  right: 38.62%;
  left: 38.88%;
  height: 210px;
}
.text622 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 132.47px);
  letter-spacing: -0.83px;
  line-height: 28px;
  display: inline-block;
  width: 264.72px;
}
.icon322,
.subheading522 {
  position: absolute;
  left: 0.38%;
}
.subheading522 {
  width: 99.62%;
  top: calc(50% - 53px);
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 38px;
  color: #01021d;
  display: inline-block;
}
.icon322 {
  height: 19.05%;
  width: 14.76%;
  top: 0;
  right: 84.86%;
  bottom: 80.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-vision22 {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 584.63px);
  width: 264.93px;
  height: 210px;
}
.paragraph-text22,
.quote22 {
  position: absolute;
  width: 45.29%;
  top: calc(50% - 225px);
  left: 53.66%;
  font-size: 20px;
  letter-spacing: -0.72px;
  line-height: 32px;
  display: inline-block;
}
.quote22 {
  width: 41.98%;
  left: 0;
  font-size: 36px;
  letter-spacing: -1.46px;
  line-height: 40px;
  font-weight: 600;
  color: #ec9e0c;
}
.content322 {
  position: absolute;
  height: 94.14%;
  width: 100.37%;
  top: 0;
  right: -0.11%;
  bottom: 5.86%;
  left: -0.26%;
}
.about-section22 {
  position: absolute;
  top: 1083px;
  left: 137px;
  width: 1169px;
  height: 478px;
  font-size: 18px;
}
.video-icon22 {
  position: absolute;
  top: 397.5px;
  left: 135.5px;
  width: 1173px;
  height: 566px;
  object-fit: cover;
}
.get-to-know22,
.when-tried-we22 {
  position: absolute;
  text-align: center;
}
.when-tried-we22 {
  top: 272px;
  left: 261px;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 38px;
  color: #01021d;
  display: inline-block;
  width: 877px;
}
.get-to-know22 {
  top: 176px;
  left: 440px;
  font-size: 72px;
  letter-spacing: -2.49px;
  line-height: 80px;
  font-weight: 600;
  color: #07753e;
}
.home22 {
  position: relative;
  font-weight: 700;
  opacity: 0.5;
  color: #492612;
  text-decoration: none;
}

.about-us1 {
  position: relative;
  text-decoration: underline;
}
.links22 {
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 272px);
  height: 88px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 88px;
}
.ebony-logo-icon22 {
  position: absolute;
  top: 17px;
  left: 136px;
  width: 91px;
  height: 55px;
  object-fit: cover;
}
.navigation22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 88px;
  overflow: hidden;
  font-size: 14px;
  color: #492612;
}
.about-us-desktop22 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 4911px;
  text-align: left;
  font-size: 20px;
  color: #4d4d60;
  font-family: Inter;
}
