.footer-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #492612;
  width: 1440px;
  height: 540px;
}
.copyright-c-20234 {
  position: absolute;
  top: 340.9px;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  opacity: 0.7;
}
.social-icontwitter4,
.vector-icon4 {
  position: absolute;
  top: 47px;
  left: 166.88px;
  width: 32.58px;
  height: 32.58px;
  overflow: hidden;
}
.vector-icon4 {
  height: 33.95%;
  width: 7.57%;
  top: 62.06%;
  right: 92.43%;
  bottom: 3.99%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.social-iconinstagram4,
.social-iconyoutube4 {
  position: absolute;
  top: 47px;
  left: 104.89px;
  width: 33.38px;
  height: 32.58px;
  overflow: hidden;
}
.social-iconyoutube4 {
  left: 43.71px;
}
.follow-us-on4 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  font-weight: 600;
}
.socials4 {
  position: absolute;
  top: 87.61px;
  left: 1104.01px;
  width: 199.46px;
  height: 79.58px;
  font-size: 24px;
}
.become-a-distributor4,
.privacy-policy4,
.terms-and-conditions44 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  opacity: 0.7;
}

.privacy-policy4,
.terms-and-conditions44 {
  top: 47.12px;
  
}
.terms-and-conditions44 {
  top: 90.23px;
  
}
.column-14,
.column-24 {
  position: absolute;
  top: 47.48px;
  left: 155px;
  width: 192px;
  height: 117.23px;
}
.column-14 {
  left: 0;
  width: 99px;
}
.quick-links14 {
  position: absolute;
  top: 0;
  left: 72px;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  font-weight: 600;
}
.quick-links4 {
  position: absolute;
  top: 87.61px;
  left: 577.01px;
  width: 347px;
  height: 164.71px;
  font-size: 19.07px;
}
.brand-info4,
.logo-icon4 {
  position: absolute;
  left: 0;
}
.brand-info4 {
  top: 152.57px;
  letter-spacing: -0.01em;
  line-height: 22.39px;
  font-weight: 500;
  display: inline-block;
  width: 417.98px;
  opacity: 0.7;
}
.logo-icon4 {
  top: 0;
  width: 181.18px;
  height: 117.61px;
  object-fit: cover;
}
.contents4,
.footer4 {
  position: absolute;
  top: 100.39px;
  left: 52.99px;
  width: 1303.46px;
  height: 363.9px;
}
.footer4 {
  top: 1751px;
  left: 0;
  width: 1440px;
  height: 540px;
  font-size: 12.71px;
  color: #fff;
}
.parliamentary-village-calabar4 {
  margin: 0;
}
.nigeria4 {
  color: #1e1f3d;
}
.text2-txt4 {
  line-break: anywhere;
  width: 100%;
}
.text14,
.text24 {
  letter-spacing: -1.11px;
  line-height: 32px;
}
.text24 {
  position: absolute;
  width: 100%;
  top: calc(50% + 57px);
  left: 0;
  display: flex;
  align-items: center;
}
.text14 {
  width: 99.48%;
  top: calc(50% - 79px);
  left: 0.52%;
  display: inline-block;
}
.address4,
.text14,
.title4 {
  position: absolute;
}
.title4 {
  width: 69.95%;
  top: calc(50% - 153px);
  left: 0.07%;
  font-size: 36px;
  letter-spacing: -1.46px;
  line-height: 54px;
  font-weight: 500;
  color: #492612;
  display: inline-block;
}
.address4 {
  width: 15.33%;
  top: calc(50% - 114.88px);
  right: 37.58%;
  left: 47.09%;
  height: 306px;
}
.label4 {
  position: relative;
  letter-spacing: -0.72px;
  line-height: 32px;
}
.button-primary-colour4,
.send-form4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-primary-colour4 {
  flex: 1;
  border-radius: 4px;
  background-color: #ec9e0c;
  height: 60px;
  padding: 14px 43px;
  box-sizing: border-box;
}
.send-form4 {
  position: absolute;
  width: 38.91%;
  top: calc(50% + 102.82px);
  right: 61.09%;
  left: 0;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.label14 {
  position: absolute;
  top: 16.2px;
  left: 20px;
  letter-spacing: -0.74px;
  line-height: 27px;
}
.rectangle4,
.rectangle14 {
  position: absolute;
  right: -3.41px;
  bottom: -0.61px;
  background-color: #d9d9df;
  width: 16px;
  height: 2px;
  transform: rotate(-46deg);
  transform-origin: 0 0;
}
.rectangle14 {
  right: -1px;
  bottom: -0.45px;
  width: 8px;
}
.expand4 {
  position: absolute;
  right: 7.16px;
  bottom: 6.56px;
  width: 12.59px;
  height: 12.9px;
}
.label-parent4 {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d9d9df;
  box-sizing: border-box;
  overflow: hidden;
  
}
.asterisk-icon4,
.field4,
.label-parent4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}
.asterisk-icon4 {
  height: 8.51%;
  width: 1.74%;
  top: 10.61%;
  right: 3.24%;
  bottom: 80.88%;
  left: 95.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.message4 {
  height: 30.1%;
  width: 100%;
  top: 44.82%;
  right: 0;
  bottom: 25.08%;
  left: 0;
}
.field14,
.label24,
.message4 {
  position: absolute;
}
.label24 {
  top: calc(50% - 14.08px);
  left: 20px;
  letter-spacing: -0.74px;
  line-height: 27px;
}
.field14 {
  height: 750%;
  width: 2812.5%;
  top: -125%;
  right: -187.5%;
  bottom: -525%;
  left: -2525%;
  display: none;
}
.asterisk-icon14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.asterisk-icon14,
.label34,
.phone4 {
  position: absolute;
}
.phone4 {
  height: 2.56%;
  width: 1.74%;
  top: 25.61%;
  right: 3.26%;
  bottom: 71.83%;
  left: 95%;
  display: none;
}
.label34 {
  top: calc(50% - 13.3px);
  left: 20px;
  letter-spacing: -0.74px;
  line-height: 27px;
}
.asterisk-icon24 {
  position: absolute;
  height: 13.24%;
  width: 1.74%;
  top: 16.65%;
  right: 3.61%;
  bottom: 70.11%;
  left: 94.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.asterisk-icon34,
.email4 {
  position: absolute;
  height: 19.35%;
  width: 99.91%;
  top: 22.38%;
  right: 0.09%;
  bottom: 58.27%;
  left: 0;
}
.asterisk-icon34 {
  height: 13.33%;
  width: 1.74%;
  top: 16.62%;
  right: 3.24%;
  bottom: 70.04%;
  left: 95.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.name4 {
  position: absolute;
  height: 19.21%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 80.79%;
  left: 0;
}
.form4 {
  width: 38.06%;
  top: calc(50% - 114.77px);
  right: 61.94%;
  height: 325.65px;
  font-size: 16px;
}
.content44,
.form4,
.subtitle4 {
  position: absolute;
  left: 0;
}
.subtitle4 {
  width: 37.5%;
  top: calc(50% - 210.88px);
  font-size: 24px;
  letter-spacing: -1.11px;
  line-height: 32px;
  display: inline-block;
}
.content44 {
  width: 116.17%;
  top: calc(50% - 211px);
  right: -16.17%;
  height: 421.76px;
}
.contacts4 {
  position: absolute;
  top: 1129px;
  left: 136px;
  width: 1166px;
  height: 422px;
}
.text44,
.title14 {
  position: absolute;
  width: 16.28%;
  top: calc(50% + 154.5px);
  left: 74.13%;
  letter-spacing: -1.11px;
  line-height: 32px;
  display: inline-block;
}
.title14 {
  width: 13.45%;
  top: calc(50% + 80.5px);
  font-size: 36px;
  letter-spacing: -1.46px;
  line-height: 54px;
  font-weight: 500;
  color: #492612;
}
.image-icon4 {
  position: absolute;
  top: 474px;
  left: 134px;
  width: 1172px;
  height: 556px;
  object-fit: cover;
}
.wed-really-like4,
.were-here-to4 {
  position: absolute;
  text-align: center;
}
.wed-really-like4 {
  top: 272px;
  left: 266px;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 38px;
  display: inline-block;
  width: 905px;
}
.were-here-to4 {
  top: 176px;
  left: 378px;
  font-size: 72px;
  letter-spacing: -2.49px;
  line-height: 80px;
  font-weight: 600;
  color: #07753e;
}
.home4 {
  position: relative;
  font-weight: 700;
  opacity: 0.5;
  color: #492612;
}
.product-link4{
  position: relative;
  font-weight: 700;
  opacity: 0.5;
  color: #492612;
  text-decoration: none;
  
}
.contact-usContact4 {
  position: relative;
  text-decoration: underline;
}
.links4 {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 273px);
  height: 88px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 88px;
}
.ebony-logo-icon4 {
  position: absolute;
  top: 17px;
  left: 136px;
  width: 91px;
  height: 55px;
  object-fit: cover;
}
.navigation4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 88px;
  overflow: hidden;
  font-size: 14px;
  color: #492612;
}
.contact-page-desktop4 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2291px;
  text-align: left;
  font-size: 20px;
  color: #01021d;
  font-family: Inter;
}
