/* .footer-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #492612;
    width: 1440px;
    height: 540px;
}
.copyright-c-2023 {
    position: absolute;
    top: 340.9px;
    left: 0;
    letter-spacing: -0.01em;
    line-height: 22.39px;
    opacity: 0.7;
  }
  .social-icontwitter,
  .vector-icon {
    position: absolute;
    top: 47px;
    left: 166.88px;
    width: 32.58px;
    height: 32.58px;
    overflow: hidden;
  }
  .vector-icon {
    height: 33.95%;
    width: 7.57%;
    top: 62.06%;
    right: 92.43%;
    bottom: 3.99%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .social-iconinstagram,
  .social-iconyoutube {
    position: absolute;
    top: 47px;
    left: 104.89px;
    width: 33.38px;
    height: 32.58px;
    overflow: hidden;
  }
  .social-iconyoutube {
    left: 43.71px;
  }
  .follow-us-on {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.01em;
    line-height: 22.39px;
    font-weight: 600;
  }
  .socials {
    position: absolute;
    top: 87.61px;
    left: 1104.01px;
    width: 199.46px;
    height: 79.58px;
    font-size: 24px;
  }
  .become-a-distributor,
  .privacy-policy,
  .terms-and-conditions {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.01em;
    line-height: 22.39px;
    opacity: 0.7;
  }
  .privacy-policy,
  .terms-and-conditions {
    top: 47.12px;
  }
  .terms-and-conditions {
    top: 94.23px;
  }
  .column-1,
  .column-2 {
    position: absolute;
    top: 47.48px;
    left: 155px;
    width: 192px;
    height: 117.23px;
  }
  .column-1 {
    left: 0;
    width: 99px;
  }
  .quick-links1 {
    position: absolute;
    top: 0;
    left: 72px;
    font-size: 24px;
    letter-spacing: -0.01em;
    line-height: 22.39px;
    font-weight: 600;
  }
  .quick-links {
    position: absolute;
    top: 87.61px;
    left: 577.01px;
    width: 347px;
    height: 164.71px;
    font-size: 19.07px;
  }
  .brand-info,
  .logo-icon {
    position: absolute;
    left: 0;
  }
  .brand-info {
    top: 152.57px;
    letter-spacing: -0.01em;
    line-height: 22.39px;
    font-weight: 500;
    display: inline-block;
    width: 417.98px;
    opacity: 0.7;
  }
  .logo-icon {
    top: 0;
    width: 181.18px;
    height: 117.61px;
    object-fit: cover;
  }
  .contents,
  .footer {
    position: absolute;
    top: 100.39px;
    left: 52.99px;
    width: 1303.46px;
    height: 363.9px;
  }
  .footer {
    top: 7153px;
    left: 0;
    width: 1440px;
    height: 540px;
    font-size: 12.71px;
    color: #fff;
  }
  .p {
    margin: 0;
  }
  .text,
  .title {
    position: absolute;
    width: 100%;
    top: calc(50% - 11px);
    left: 0;
    letter-spacing: -1.11px;
    line-height: 32px;
    display: inline-block;
  }
  .title {
    width: 82.57%;
    top: calc(50% - 85px);
    font-size: 36px;
    letter-spacing: -1.46px;
    line-height: 54px;
    font-weight: 500;
  }
  .contact-us2 {
    position: absolute;
    width: 20.11%;
    top: calc(50% - 113.88px);
    right: 0;
    left: 79.89%;
    height: 170px;
  }
  .nigeria {
    color: #1e1f3d;
  }
  .text2-txt {
    line-break: anywhere;
    width: 100%;
  }
  .text1,
  .text2,
  .title1 {
    position: absolute;
    letter-spacing: -1.11px;
    line-height: 32px;
  }
  .text2 {
    width: 100%;
    top: calc(50% + 57px);
    left: 0;
    display: flex;
    align-items: center;
  }
  .text1,
  .title1 {
    width: 99.48%;
    top: calc(50% - 79px);
    left: 0.52%;
    display: inline-block;
  }
  .title1 {
    width: 69.95%;
    top: calc(50% - 153px);
    left: 0.42%;
    font-size: 36px;
    letter-spacing: -1.46px;
    line-height: 54px;
    font-weight: 500;
  }
  .address {
    position: absolute;
    width: 17.8%;
    top: calc(50% - 113.88px);
    right: 27.49%;
    left: 54.7%;
    height: 306px;
  }
  .label {
    position: relative;
    letter-spacing: -0.72px;
    line-height: 32px;
  }
  .button-primary-colour,
  .send-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-primary-colour {
    flex: 1;
    border-radius: 4px;
    background-color: #ec9e0c;
    height: 60px;
    padding: 14px 43px;
    box-sizing: border-box;
  }
  .send-form {
    position: absolute;
    width: 38.91%;
    top: calc(50% + 102.82px);
    right: 61.09%;
    left: 0;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .label1 {
    position: absolute;
    top: 16.2px;
    left: 20px;
    letter-spacing: -0.74px;
    line-height: 27px;
  }
  .rectangle,
  .rectangle1 {
    position: absolute;
    right: -3.41px;
    bottom: -0.61px;
    background-color: #d9d9df;
    width: 16px;
    height: 2px;
    transform: rotate(-46deg);
    transform-origin: 0 0;
  }
  .rectangle1 {
    right: -1px;
    bottom: -0.45px;
    width: 8px;
  }
  .expand {
    position: absolute;
    right: 6.25px;
    bottom: 6.56px;
    width: 12.59px;
    height: 12.9px;
  }
  .label-parent {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #d9d9df;
    box-sizing: border-box;
    overflow: hidden;
  }
  .asterisk-icon,
  .field,
  .label-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .asterisk-icon {
    height: 8.51%;
    width: 1.74%;
    top: 10.61%;
    right: 3.24%;
    bottom: 80.88%;
    left: 95.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
    mix-blend-mode: normal;
  }
  .message {
    position: absolute;
    height: 30.1%;
    width: 100%;
    top: 44.82%;
    right: 0;
    bottom: 25.08%;
    left: 0;
  }
  .label2 {
    position: absolute;
    top: calc(50% - 14.08px);
    left: 20px;
    letter-spacing: -0.74px;
    line-height: 27px;
  }
  .asterisk-icon1 {
    position: absolute;
    height: 13.33%;
    width: 3.56%;
    top: 16.62%;
    right: 6.63%;
    bottom: 70.04%;
    left: 89.82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
    mix-blend-mode: normal;
  }
  .asterisk-icon3,
  .email,
  .phone {
    position: absolute;
    height: 19.21%;
    width: 48.91%;
    top: 22.41%;
    right: 0;
    bottom: 58.38%;
    left: 51.09%;
  }
  .asterisk-icon3,
  .email {
    right: 51.09%;
    left: 0;
  }
  .asterisk-icon3 {
    height: 13.33%;
    width: 1.74%;
    top: 16.62%;
    right: 3.24%;
    bottom: 70.04%;
    left: 95.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
    mix-blend-mode: normal;
  }
  .name {
    position: absolute;
    height: 19.21%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 80.79%;
    left: 0;
  }
  .form {
    width: 44.21%;
    top: calc(50% - 114.77px);
    right: 55.79%;
    height: 325.65px;
    font-size: 16px;
  }
  .content,
  .form,
  .subtitle {
    position: absolute;
    left: 0;
  }
  .subtitle {
    top: calc(50% - 210.88px);
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 38px;
  }
  .content {
    width: 100%;
    top: calc(50% - 211px);
    right: 0;
    height: 421.76px;
  }
  .contact-us1 {
    position: absolute;
    top: 6531px;
    left: 135px;
    width: 1173px;
    height: 422px;
    color: #01021d;
  }
  .mask-group-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .text3 {
    position: absolute;
    width: 75.69%;
    top: calc(50% - 29px);
    left: 3.45%;
    letter-spacing: -0.72px;
    line-height: 28px;
    display: inline-block;
  }
  .view-all-benefits {
    position: relative;
    letter-spacing: -0.83px;
    line-height: 28px;
  }
  .group-icon {
    position: relative;
    width: 31.5px;
    height: 16px;
  }
  .group-3-copy-2 {
    position: absolute;
    height: 103.45%;
    top: -5.17%;
    bottom: 1.72%;
    left: 0.25px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 1px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
  .link {
    position: absolute;
    height: 11.07%;
    width: 17.71%;
    top: 14.12%;
    right: 3.35%;
    bottom: 74.81%;
    left: 78.93%;
    font-size: 18px;
  }
  .title2 {
    width: 38.32%;
    top: calc(50% - 104px);
    left: 3.35%;
    font-size: 30px;
    letter-spacing: -1.42px;
    line-height: 48px;
    font-weight: 600;
    display: inline-block;
  }
  .card,
  .title2,
  .title3 {
    position: absolute;
  }
  .card {
    height: 100%;
    width: 66.24%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 33.76%;
  }
  .title3 {
    width: 25.33%;
    top: 27.1%;
    left: 0;
    font-size: 32px;
    letter-spacing: -1.42px;
    line-height: 40px;
    display: inline-block;
    color: #01021d;
  }
  .become-a-distributor1 {
    position: absolute;
    top: 6149px;
    left: 135px;
    width: 1173px;
    height: 262px;
    color: #fff;
  }
  .card1,
  .date {
    position: absolute;
  }
  .card1 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3.85px;
    background-color: #fff;
    border: 1px solid #d9d9df;
    box-sizing: border-box;
  }
  .date {
    width: 17.8%;
    top: calc(50% + 88.96px);
    left: 8.29%;
    letter-spacing: -0.71px;
    line-height: 25.97px;
    display: inline-block;
  }
  .review-icon {
    position: absolute;
    height: 5.36%;
    width: 16.96%;
    top: 19.92%;
    right: 6.52%;
    bottom: 74.71%;
    left: 76.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .copy,
  .name1 {
    position: absolute;
    width: 85.22%;
    top: calc(50% - 40.89px);
    left: 8.26%;
    font-size: 19.24px;
    letter-spacing: -0.7px;
    line-height: 30.78px;
    display: inline-block;
  }
  .name1 {
    width: 36.01%;
    top: calc(50% - 87.05px);
    left: 8.29%;
    font-size: 23.08px;
    letter-spacing: -1.07px;
    line-height: 36.55px;
    color: #01021d;
  }
  .review-3 {
    position: absolute;
    height: 32.1%;
    width: 40.89%;
    top: 67.9%;
    right: 0;
    bottom: 0;
    left: 59.11%;
    overflow: hidden;
  }
  .date1,
  .name2 {
    position: absolute;
    width: 18.84%;
    top: calc(50% + 88.96px);
    left: 8.29%;
    letter-spacing: -0.71px;
    line-height: 25.97px;
    display: inline-block;
  }
  .name2 {
    width: 28.7%;
    top: calc(50% - 87.05px);
    left: 8.26%;
    font-size: 23.08px;
    letter-spacing: -1.07px;
    line-height: 36.55px;
    color: #01021d;
  }
  .review-2 {
    position: absolute;
    height: 32.1%;
    width: 40.89%;
    top: 33.95%;
    right: 0;
    bottom: 33.95%;
    left: 59.11%;
    overflow: hidden;
  }
  .date2,
  .name3 {
    position: absolute;
    width: 17.38%;
    top: calc(50% + 88.96px);
    left: 8.29%;
    letter-spacing: -0.71px;
    line-height: 25.97px;
    display: inline-block;
  }
  .name3 {
    width: 35.18%;
    top: calc(50% - 87.05px);
    font-size: 23.08px;
    letter-spacing: -1.07px;
    line-height: 36.55px;
    color: #01021d;
  }
  .review-1 {
    position: absolute;
    height: 32.1%;
    width: 40.89%;
    top: 0;
    right: 0;
    bottom: 67.9%;
    left: 59.11%;
    overflow: hidden;
  }
  .lets-talk-about,
  .title4 {
    position: absolute;
    width: 49.33%;
    left: 0;
    color: #01021d;
    display: inline-block;
  }
  .lets-talk-about {
    height: 9.46%;
    top: 52.8%;
    font-size: 23.08px;
    letter-spacing: -1.07px;
    line-height: 36.55px;
  }
  .title4 {
    top: calc(50% - 232.05px);
    font-size: 51.94px;
    letter-spacing: -2.4px;
    line-height: 77.91px;
  }
  .label5 {
    position: relative;
    letter-spacing: -0.7px;
    line-height: 30.78px;
  }
  .button,
  .button-primary-colour1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-primary-colour1 {
    flex: 1;
    border-radius: 3.85px;
    background-color: #ec9e0c;
    height: 57.71px;
    padding: 13.465278625488281px 41.35763931274414px;
    box-sizing: border-box;
  }
  .button {
    position: absolute;
    height: 7.38%;
    width: 20.38%;
    top: 67.45%;
    right: 79.62%;
    bottom: 25.17%;
    left: 0;
    text-align: center;
    font-size: 19.24px;
    color: #fff;
  }
  .testimonial {
    position: absolute;
    top: 5247px;
    left: 135px;
    width: 1173px;
    height: 782px;
    overflow: hidden;
    font-size: 15.39px;
  }
  .mask-group-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 327px;
    object-fit: cover;
  }
  .stat {
    position: absolute;
    width: 71.2%;
    top: calc(50% - 64px);
    left: 14.66%;
    letter-spacing: -3.16px;
    line-height: 80px;
    display: inline-block;
  }
  .subtitle1 {
    position: absolute;
    top: calc(50% + 32px);
    left: 0;
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    text-align: left;
  }
  .happy-customers {
    position: absolute;
    width: 13.26%;
    top: calc(50% - 57.5px);
    right: 10.28%;
    left: 76.46%;
    height: 128px;
  }
  .stat1 {
    position: absolute;
    width: 73.17%;
    top: calc(50% - 64px);
    left: 13.82%;
    letter-spacing: -3.16px;
    line-height: 80px;
    display: inline-block;
  }
  .distributors {
    position: absolute;
    width: 8.54%;
    top: calc(50% - 57.5px);
    right: 34.79%;
    left: 56.67%;
    height: 128px;
  }
  .stat2 {
    position: absolute;
    width: 100%;
    top: calc(50% - 64px);
    left: 0;
    letter-spacing: -3.16px;
    line-height: 80px;
    display: inline-block;
  }
  .subtitle3 {
    position: absolute;
    top: calc(50% + 32px);
    left: 13.89%;
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    text-align: left;
  }
  .outlets {
    position: absolute;
    width: 7.5%;
    top: calc(50% - 57.5px);
    right: 54.58%;
    left: 37.92%;
    height: 128px;
  }
  .year-founded {
    position: absolute;
    top: calc(50% + 32px);
    left: 21.61%;
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    text-align: left;
  }
  .packets-sold {
    position: absolute;
    width: 16.39%;
    top: calc(50% - 57.5px);
    right: 73.33%;
    left: 10.28%;
    height: 128px;
  }
  .content-child,
  .content-inner,
  .content-item {
    position: absolute;
    top: 92px;
    left: 464px;
    background-color: #fff;
    width: 2px;
    height: 160px;
  }
  .content-inner,
  .content-item {
    left: 734px;
  }
  .content-inner {
    left: 1019px;
  }
  .content2,
  .stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 327px;
  }
  .stats {
    top: 4800px;
    text-align: center;
    font-size: 72px;
    color: #492612;
  }
  .patoria-packet-icon {
    position: absolute;
    top: 0;
    left: 407px;
    width: 765px;
    height: 703px;
    object-fit: cover;
  }
  .icon,
  .mg-0132d-1-icon,
  .patoria-honey-2-icon {
    position: absolute;
    top: -84px;
    left: 586px;
    width: 521px;
    height: 787px;
    object-fit: cover;
    display: none;
  }
  .icon,
  .patoria-honey-2-icon {
    top: 33px;
    left: 403px;
    width: 791px;
    height: 711px;
  }
  .patoria-honey-2-icon {
    top: 17px;
    left: 514px;
    width: 608px;
    height: 685px;
  }
  .text4,
  .text5 {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .text4 {
    width: 34.87%;
    top: calc(50% - 218.86px);
    letter-spacing: -2.03px;
    line-height: 57px;
    font-weight: 500;
  }
  .text5 {
    width: 38.86%;
    top: calc(50% - 153.86px);
    font-size: 88px;
    letter-spacing: -3.03px;
    line-height: 88px;
    color: #ec9e0c;
  }
  .content3,
  .product-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 1172px;
    height: 703px;
  }
  .product-section {
    top: 4097px;
    left: 136px;
    font-size: 32px;
    color: #07753e;
  }
  .land-1-icon,
  .web-banner-icon {
    position: absolute;
    object-fit: cover;
  }
  .web-banner-icon {
    top: 3293px;
    left: calc(50% - 720px);
    width: 1440px;
    height: 684px;
  }
  .land-1-icon {
    top: 142px;
    left: 501px;
    width: 731px;
    height: 593px;
  }
  .subheading,
  .text6 {
    position: absolute;
    width: 100%;
    top: calc(50% - 0px);
    left: 0;
    letter-spacing: -0.72px;
    line-height: 32px;
    display: inline-block;
  }
  .subheading {
    width: 93.06%;
    top: calc(50% - 64px);
    font-size: 32px;
    letter-spacing: -1.46px;
    line-height: 54px;
    font-weight: 500;
    color: #07753e;
  }
  .icon1 {
    position: absolute;
    height: 38.34%;
    width: 10.12%;
    top: 407.35%;
    right: 89.68%;
    bottom: -345.7%;
    left: 0.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
  }
  .highlight-3 {
    position: absolute;
    width: 39.26%;
    top: calc(50% + 195.5px);
    right: 60.66%;
    left: 0.08%;
    height: 128px;
  }
  .text7 {
    position: absolute;
    width: 100%;
    top: calc(50% - 16px);
    left: 0;
    letter-spacing: -0.72px;
    line-height: 32px;
    display: inline-block;
  }
  .subheading1 {
    width: 56.22%;
    top: calc(50% - 80px);
    font-size: 32px;
    letter-spacing: -1.46px;
    line-height: 54px;
    font-weight: 500;
    color: #07753e;
    display: inline-block;
  }
  .highlight-2,
  .icon2,
  .subheading1 {
    position: absolute;
    left: 0;
  }
  .icon2 {
    height: 30.67%;
    width: 9.79%;
    top: 200.74%;
    right: 90.21%;
    bottom: -131.41%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
  }
  .highlight-2 {
    width: 40.56%;
    top: calc(50% - 8.5px);
    right: 59.44%;
    height: 160px;
  }
  .subheading2 {
    position: absolute;
    width: 90.07%;
    top: calc(50% - 64px);
    left: 0;
    font-size: 32px;
    letter-spacing: -1.46px;
    line-height: 54px;
    font-weight: 500;
    color: #07753e;
    display: inline-block;
  }
  .icon3 {
    position: absolute;
    height: 38.34%;
    width: 9.79%;
    top: 119.03%;
    right: 90.01%;
    bottom: -57.37%;
    left: 0.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
  }
  .highlight-1 {
    position: absolute;
    width: 40.56%;
    top: calc(50% - 180.5px);
    right: 59.36%;
    left: 0.08%;
    height: 128px;
  }
  .title5 {
    position: absolute;
    top: calc(50% - 367.5px);
    left: 28.57%;
    font-size: 64px;
    letter-spacing: -2.49px;
    line-height: 80px;
    font-weight: 600;
    color: #ec9e0c;
  }
  .content4,
  .video-icon,
  .why-choose-us {
    position: absolute;
    top: 0;
    left: 0;
    width: 1232px;
    height: 735px;
  }
  .video-icon,
  .why-choose-us {
    top: 2438px;
    left: 137px;
  }
  .video-icon {
    height: 73.98%;
    width: 100%;
    top: 25.1%;
    right: 0;
    bottom: 0.92%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .subtitle4,
  .title6 {
    position: absolute;
    display: inline-block;
  }
  .title6 {
    width: 39.98%;
    top: calc(50% - 380.5px);
    left: 30.61%;
    letter-spacing: -2.49px;
    line-height: 80px;
    font-weight: 600;
  }
  .subtitle4 {
    width: 82.93%;
    top: calc(50% - 284.5px);
    left: 8.86%;
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 38px;
    color: #01021d;
    text-align: center;
  }
  .video-section {
    position: absolute;
    top: 1007px;
    left: 135px;
    width: 1173px;
    height: 761px;
    overflow: hidden;
    font-size: 64px;
    color: #ec9e0c;
  }
  .background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 911px;
  }
  .subtitle5,
  .subtitle6,
  .title7 {
    position: absolute;
    display: inline-block;
  }
  .title7 {
    width: 38.54%;
    top: calc(50% - 149.5px);
    left: 9.38%;
    letter-spacing: -2.57px;
    line-height: 84px;
    color: #ec9e0c;
  }
  .subtitle5,
  .subtitle6 {
    left: 9.51%;
  }
  .subtitle5 {
    height: 12%;
    width: 38.54%;
    top: 54.22%;
    font-size: 24px;
    letter-spacing: -1.42px;
    line-height: 36px;
  }
  .subtitle6 {
    height: 2.67%;
    width: 14.72%;
    top: 28.89%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .buy-now {
    height: 6.59%;
    width: 12.15%;
    top: 70.6%;
    right: 78.33%;
    bottom: 22.82%;
    left: 9.51%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .buy-now,
  .copy3,
  .icon4 {
    position: absolute;
  }
  .icon4 {
    height: 52.06%;
    width: 12.5%;
    top: 0;
    right: 87.5%;
    bottom: 47.94%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .copy3 {
    width: 80.21%;
    top: calc(50% - 0.05px);
    left: 19.79%;
    letter-spacing: -0.59px;
    line-height: 14px;
    display: inline-block;
  }
  .subtitle7 {
    position: absolute;
    top: calc(50% - 24.7px);
    left: 20%;
    font-size: 14px;
    letter-spacing: -0.88px;
    line-height: 16px;
    color: #492612;
  }
  .highlight-11 {
    position: absolute;
    height: 23.12%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 76.88%;
    left: 0;
  }
  .copy4 {
    position: absolute;
    width: 80.21%;
    top: calc(50% - 0.02px);
    left: 19.79%;
    letter-spacing: -0.59px;
    line-height: 14px;
    display: inline-block;
  }
  .subtitle8 {
    position: absolute;
    top: calc(50% - 24.68px);
    left: 20%;
    font-size: 14px;
    letter-spacing: -0.88px;
    line-height: 16px;
    color: #492612;
  }
  .highlight-21,
  .icon5 {
    position: absolute;
    left: 0;
  }
  .icon5 {
    height: 53.59%;
    width: 12.5%;
    top: 0;
    right: 87.5%;
    bottom: 46.41%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .highlight-21 {
    width: 100%;
    top: calc(50% - 28px);
    right: 0;
    height: 55.95px;
  }
  .copy5 {
    position: absolute;
    width: 80.21%;
    top: calc(50% - 0.52px);
    left: 19.79%;
    letter-spacing: -0.59px;
    line-height: 14px;
    display: inline-block;
  }
  .subtitle9 {
    position: absolute;
    top: calc(50% - 25.18px);
    left: 20%;
    font-size: 14px;
    letter-spacing: -0.88px;
    line-height: 16px;
    color: #492612;
  }
  .highlight-31,
  .icon6 {
    position: absolute;
    left: 0;
  }
  .icon6 {
    height: 54.81%;
    width: 12.5%;
    top: 0;
    right: 87.5%;
    bottom: 45.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .highlight-31 {
    width: 100%;
    top: calc(50% + 65.95px);
    right: 0;
    height: 54.95px;
  }
  .highlights {
    position: absolute;
    height: 26.54%;
    width: 15.97%;
    top: 25%;
    right: 10.21%;
    bottom: 48.46%;
    left: 73.82%;
    font-size: 9px;
    color: #4d4d60;
  }
  .icon7 {
    position: absolute;
    top: 102px;
    left: 572px;
    width: 721px;
    height: 809px;
    object-fit: cover;
  }
  .hero-background {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    background-color: #fff;
    width: 1440px;
    height: 911px;
    overflow: hidden;
    font-size: 65px;
    color: #01021d;
  }
  .home {
    position: relative;
    text-decoration: underline;
  }
  .about-us1 {
    position: relative;
    font-weight: 500;
    opacity: 0.5;
  }
  .links {
    position: absolute;
    top: calc(50% - 33px);
    left: calc(50% - 432.5px);
    height: 88px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 32px 24px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 44px;
  }
  .ebony-logo2-1 {
    position: absolute;
    top: 17px;
    left: 136px;
    width: 91px;
    height: 55px;
    object-fit: cover;
  }
  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 88px;
    overflow: hidden;
    font-size: 14px;
    color: #492612;
  }
  .text9 {
    width: 100%;
    top: calc(50% + 5px);
    letter-spacing: -0.83px;
    line-height: 28px;
    display: inline-block;
  }
  .icon-3,
  .subheading3,
  .text9 {
    position: absolute;
    left: 0;
  }
  .subheading3 {
    width: 100%;
    top: calc(50% - 37px);
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 38px;
    color: #01021d;
    display: inline-block;
  }
  .icon-3 {
    height: 22.47%;
    width: 14.81%;
    top: 0;
    right: 85.19%;
    bottom: 77.53%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .our-philosophy,
  .philosophy-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 31px;
    height: 31px;
    overflow: hidden;
  }
  .our-philosophy {
    height: 39.56%;
    width: 22.5%;
    top: 54.22%;
    right: 0;
    bottom: 6.22%;
    left: 77.5%;
  }
  .text10 {
    width: 100%;
    top: calc(50% - 7px);
    letter-spacing: -0.83px;
    line-height: 28px;
    display: inline-block;
  }
  .icon-2,
  .subheading4,
  .text10 {
    position: absolute;
    left: 0;
  }
  .subheading4 {
    width: 100%;
    top: calc(50% - 53px);
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 38px;
    color: #01021d;
    display: inline-block;
  }
  .icon-2 {
    height: 19.05%;
    width: 14.81%;
    top: 0;
    right: 85.19%;
    bottom: 80.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .our-mission {
    position: absolute;
    width: 22.5%;
    top: calc(50% + 15px);
    right: 38.62%;
    left: 38.88%;
    height: 210px;
  }
  .text11 {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 132.47px);
    letter-spacing: -0.83px;
    line-height: 28px;
    display: inline-block;
    width: 264.72px;
  }
  .icon8,
  .subheading5 {
    position: absolute;
    left: 0.38%;
  }
  .subheading5 {
    width: 99.62%;
    top: calc(50% - 53px);
    font-size: 24px;
    letter-spacing: -1.11px;
    line-height: 38px;
    color: #01021d;
    display: inline-block;
  }
  .icon8 {
    height: 19.05%;
    width: 14.76%;
    top: 0;
    right: 84.86%;
    bottom: 80.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .our-vision {
    position: absolute;
    top: calc(50% + 15px);
    left: calc(50% - 584.63px);
    width: 264.93px;
    height: 210px;
  }
  .paragraph-text,
  .quote {
    position: absolute;
    width: 45.29%;
    top: calc(50% - 225px);
    left: 53.66%;
    font-size: 20px;
    letter-spacing: -0.72px;
    line-height: 32px;
    display: inline-block;
  }
  .quote {
    width: 41.98%;
    left: 0;
    font-size: 36px;
    letter-spacing: -1.46px;
    line-height: 40px;
    font-weight: 600;
    color: #ec9e0c;
  }
  .content5 {
    position: absolute;
    height: 94.14%;
    width: 100.37%;
    top: 0;
    right: -0.11%;
    bottom: 5.86%;
    left: -0.26%;
  }
  .about-section {
    position: absolute;
    top: 1864px;
    left: 137px;
    width: 1169px;
    height: 478px;
    font-size: 18px;
  }
  .home-page-desktop {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 7693px;
    text-align: left;
    font-size: 20px;
    color: #4d4d60;
    font-family: Inter;
  }
  */